body {
  min-height: 800px;
}
.lim-template {
  padding: 40px 15px;
  text-align: center;
}
.page {
	margin: auto;
	margin-top: 20px;
	text-align: center;
	width: 400px;
	padding: 10px;
	box-sizing: border-box;
}
.title {
	text-align: center;
}
.title h1 {
	font-variant: small-caps;
	margin-bottom: 10px;
	font-weight: 800;
}
.title h2 {
	font-variant: small-caps;
	margin-top: 0;
	margin-bottom: 60px;
}
.title img {
}
.footer {
	text-align: center;
	padding-top: 60px;
	font-variant: small-caps;
}